
/* cidades selector */

.cidade-page-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%; height: 100%;
    flex-grow: 1;
    padding: 4px;
}

.cidade-page-container > section{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding: 4px;
}

/* first */
.cidade-page-container > section:nth-child(1){
    flex-direction:column;
    gap: 6px;
}

.cidade-page-container > section:nth-child(1) > header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.cidade-page-container > section:nth-child(1) > header button{
    padding: 4px 10px;
    height: fit-content;
    border: solid 1px #ddd;
    border-radius: 4px;
    cursor: pointer;
}

/* search bar */
.cidade-page-container-search-bar{
    width:100%; display: flex; flex-direction:row;
    border: solid 1px #ddd;
    overflow: hidden;
    border-radius: 4px;
}

.cidade-page-container-search-bar > input{
   width: 100%;
   height: 35px;
}

.cidade-page-container-search-bar > button{
    padding: 4px 10px;
    height: 100%;
    border-left: solid 1px #ddd;
    border-radius: 4px;
    cursor: pointer;
}

/* second */

.cidade-page-container > section:nth-child(2){
    overflow-y: scroll;
    border: solid 1px #ccc
}

.cidade-page-container > section:nth-child(2) .city-check-box{
    width: 100%;
    padding: 1px 0;
    border-radius: 4px;
}

.cidade-page-container > section:nth-child(2) .city-check-box > *{
    cursor: pointer;
}

.cidade-page-container > section:nth-child(2) .city-check-box:hover{
    background-color: rgba(81, 149, 212, 0.274);
    
}

.cidade-page-container > section:nth-child(2) div:nth-child(1){
    margin-bottom: 4px;
    padding-bottom: 2px;
    border-bottom: solid 1px #ddd;
}


/* terceiro */
.cidade-page-container > section:nth-child(3){
    flex-direction: row;
    align-items: center;
}


.cidade-page-container > section:nth-child(3) > button{
    margin-right: 0; margin-left: auto;
    padding: 12px 22px;
    background-color: rgb(22, 107, 218);
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: bold
}

.cidade-page-container > section:nth-child(3) > button:hover{
    cursor: pointer;
    background-color: rgb(42, 122, 226);
}



    

/* .cidades-container .cidades-container-flow{
    position: relative;
    width: 100%;height: 100%;
    overflow-y: scroll;
    border: solid 2px rgb(0, 255, 13);
}
 */

/* .cidades-container .cidades-container-flow > section{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: fit-content;
}  */