
/* HEADER  */
.mform-row.mform-header{ 
    position: sticky; top: 0; z-index: 1;
    width: 100%;
    background-color: rgb(145, 145, 145);
    display: grid; grid-template-columns: 16px 44px 1fr 44px 16px; 
} 

.mform-row.mform-header > section {
   
} 

.mform-row.mform-header > section:nth-child(3) > div {
    height: 38px!important;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 15px;font-weight: bold;
    display: flex; align-items: center;justify-content: center;
    text-align: center;
    overflow: hidden;
    color: black;
    background-color: unset;
    
} 