
/* HEADER  */
.mform-header{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
    position: sticky; top: 0; z-index: 1;
    background-color: grey;
    width: 100%;
    color: white;
    text-shadow: 0px 1px 2px #333;
    box-shadow: inset 0px 0px 3px #333333!important;
} 

.mform-header > section:nth-child(3) > div {
    height: 42px!important;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 15px;font-weight: bold;
    display: flex; align-items: center;justify-content: center;
    text-align: center;
    overflow: hidden;
    box-shadow: inset 0px 0px 2px #444!important;
} 