/* Componente glboal */
.react-fck-br-location-selector{
    width: 100%; height: fit-content;
    border-radius: 4px;
    overflow: hidden;
}

.react-fck-br-location-selector, .react-fck-br-location-selector * {
    box-sizing: border-box;
}

/* carousel */
.react-fck-br-location-selector-carousel-frame{
    background-color: rgb(243, 243, 243);
    width: 100%; height: 550px;
    min-width: 550px;
}

@media screen and (max-width: 756px){
    .react-fck-br-location-selector{
        width: 100%;
    }
    .react-fck-br-location-selector-carousel-frame{
        width: 100%;
    }
}
